@using GridMvc.Html
@{
    Layout = null;
}
@model IEnumerable<GridMvc.MyLibrary.Models.Kisi>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grid MVC - MyLibrary</title>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/gridmvc.datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/gridmvc.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/gridmvc.lang.tr.js"></script>
    <script src="~/Scripts/gridmvc.customwidgets.js"></script>
    <style>
        .bolder {
            font-weight: bold;
        }

        #detaylar {
            display: block;
            margin: 10px;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    <div>

        @Html.Grid(Model).Named("kisiler1").Columns(col =>
   {
       col.Add().Encoded(false).Sanitized(false).RenderValueAs(html =>
       {
           string htmlStr = "<a href='/Home/Edit/"+html.Id.ToString()+"' class='btn btn-warning'><span class='glyphicon glyphicon-edit' ></span> Düzenle</a>";
           return MvcHtmlString.Create(htmlStr);
       }).Titled("Düzenle").SetWidth(30);
       col.Add().Encoded(false).Sanitized(false).RenderValueAs(html =>
       {
           string htmlStr = "<a href='/Home/Delete/"+ html.Id.ToString() + "' class='btn btn-danger'> <span class='glyphicon glyphicon-remove' ></span> Sil</a>";
           return MvcHtmlString.Create(htmlStr);
       }).Titled("Sil").SetWidth(30);

       col.Add().Encoded(false).Sanitized(false).RenderValueAs(x => Html.ActionLink("Detay","Detail", new { id=x.Id},new { @class="btn btn-info"})).SetWidth(30).Titled("Detay");
       col.Add().Encoded(false).Sanitized(false).RenderValueAs(x => Html.CheckBox("selecter",x.IsActive)).SetWidth(30).Titled("Aktiflik");

       col.Add(x => x.Id, true);
       col.Add(x => x.FullName).RenderValueAs(x => x.FullName + " (" + x.Age.ToString() + ")").Titled("Ad Soyad").Filterable(true).Sortable(true).SetFilterWidgetType("CustomCompanyNameFilterWidget");
       col.Add(x => x.Age).Titled("Yaş").Sortable(true);
       col.Add(x => x.BirthDate).Titled("Doğum Tarihi").Format("{0:dd.MM.yyyy}").Filterable(true).Sortable(true);
       col.Add(x => x.IsActive).RenderValueAs(x => x.IsActive ? "Evet" : "Hayır").Titled("Aktiflik").Filterable(true);
   }).WithPaging(10).SetLanguage("tr")
    </div>

    <div id="detaylar">
        <span class="bolder">ID : </span><span id="kisiId"></span><br />
        <span class="bolder">Tam Adı : </span><span id="kisiFullName"></span><br />
        <span class="bolder">Yaş : </span><span id="kisiAge"></span><br />
        <span class="bolder">D.Tarihi : </span><span id="kisiBirthDate"></span><br />
        <span class="bolder">Aktif mi? : </span><span id="kisiIsActive"></span><br />


    </div>

    <script>
        $(function () {
            pageGrids.kisiler1.onRowSelect(function (e) {
                var data = e.row;
                console.log(data);
                $("#kisiId").text(data.Id);
                $("#kisiFullName").text(data.FullName);
                $("#kisiAge").text(data.Age);
                $("#kisiBirthDate").text(data.BirthDate);
                $("#kisiIsActive").text(data.IsActive);
            });

            pageGrids.kisiler1.addFilterWidget(new CustomersFilterWidget());
        });

    </script>
</body>
</html>
